hostname = "localhost"
data_dir = "/var/lib/kapacitor"
skip-config-overrides = false
default-retention-policy = ""
[http]
  bind-address = ":9092"
  log-enabled = true
  write-tracing = false
  pprof-enabled = false
  https-enabled = false
  https-certificate = "/etc/ssl/kapacitor.pem"
[config-override]
  enabled = true
[logging]
    file = "/var/log/kapacitor/kapacitor.log"
    level = "INFO"
[load]
  enabled = true
  dir = "/etc/kapacitor/load"
[replay]
  dir = "/var/lib/kapacitor/replay"
[task]
  dir = "/var/lib/kapacitor/tasks"
  snapshot-interval = "60s"
[storage]
  boltdb = "/var/lib/kapacitor/kapacitor.db"
[deadman]
  global = false
  threshold = 0.0
  interval = "10s"
  id = "node 'NODE_NAME' in task '{{ .TaskName }}'"
  message = "{{ .ID }} is {{ if eq .Level \"OK\" }}alive{{ else }}dead{{ end }}: {{ index .Fields \"collected\" | printf \"%0.3f\" }} points/INTERVAL."
[[influxdb]]
  enabled = true
  default = true
  name = "localhost"
  urls = ["http://localhost:8086"]
  username = ""
  password = ""
  timeout = 0
  insecure-skip-verify = false
  startup-timeout = "5m"
  disable-subscriptions = false
  subscription-mode = "cluster"
  subscription-protocol = "http"
  subscriptions-sync-interval = "1m0s"
  kapacitor-hostname = ""
  http-port = 0
  udp-bind = ""
  udp-buffer = 1000
  udp-read-buffer = 0
  [influxdb.subscriptions]
  [influxdb.excluded-subscriptions]
[slack]
  enabled = true
  url = "https://hooks.slack.com/services/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"
  channel = "#${channel}"
  global = false
  state-changes-only = false
[reporting]
  enabled = true
  url = "https://usage.influxdata.com"
[stats]
  enabled = true
  stats-interval = "10s"
  database = "_kapacitor"
  retention-policy= "autogen"
[udf]
[udf.functions]
